.projectHeader {
  font-size: var(--step-4);
  font-weight: 900;
  font-family: lato;
  text-transform: uppercase;

  background-color: var(--pink);
  color: var(--text-color);
  height: 10vh;
  margin-bottom: 40px;
}

.show {
  opacity: 1;
  transition: all 0.5s ease-in-out;
  transform: translateY(0);
}

.hide {
  opacity: 0;
  transition: all 0.5s ease-in-out;
  transform: translateY(30px);
}

.show1 {
  opacity: 1;
  transition: all 0.5s ease-in-out;
  transform: translateX(0);
}

.hide1 {
  opacity: 0;
  transition: all 0.5s ease-in-out;
  transform: translateX(-30px);
}
