.scroll {
  height: 100vh;
  width: 100vw;
  color: black;
}
.introduction {
  height: 100px;
  font-size: var(--step-9);
}

.container {
  height: 100vh;
  width: 300%;
  display: flex;
  flex-wrap: nowrap;
}
.panel {
  width: 33%;
  background-color: var(--text-color);
  height: 100vh;
}

.box0 {
  font-size: var(--step-9);
  background-color: rgb(220, 118, 0);
  color: var(--font-pink);
  font-family: lato;
  width: fit-content;
}
.box1 {
  font-size: var(--step-9);
  width: fit-content;
  margin-right: 200px;
  color: var(--font-pink);
  font-family: lato;
  background-color: azure;
}

.box2 {
  font-size: var(--step-10-);
  width: fit-content;
  color: var(--font-pink);
  font-family: lato;
  background-color: rgb(64, 122, 63);
}

.about-text0,
.about-text1,
.about-text2 {
  font-size: var(--step-2);
  width: fit-content;
  color: var(--font-pink);
  font-family: lato;
  background-color: rgb(63, 105, 112);
}

@media screen and (max-width: 1138px) {
  .box0,
  .box1,
  .box2 {
    font-size: var(--step-7);
  }
}

@media screen and (max-width: 568px) {
  .box0,
  .box1,
  .box2 {
    font-size: var(--step-5);
  }
}

.space {
  width: 20px;
}

.introduction {
  font-size: var(--step-7);
}
