.body {
  overflow: hidden;
  position: relative;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--pink);
  margin-bottom: 50vh;
}
.about {
  font-size: var(--step-7);
  font-weight: 800;
}
