.blob {
  image-orientation: flip;
  animation: rotate 14s infinite linear;
  position: absolute;
  top: 00px;
  right: 10px;
  z-index: 1;
  mix-blend-mode: difference;
  pointer-events: none;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
